
.tm-navbar.scroll .navbar-brand {
    filter: invert();
}


/* Carousel */

#myCarousel {
    max-width: 450px;
    margin: 0 auto;
}

#myCarousel + .f-thumbs {
    max-width: 443px;
    margin: 0 auto;
    --f-thumb-width: 96px;
    --f-thumb-height: 72px;
}

#myCarousel .f-carousel__slide img {
    width: 100%;
    height: auto;
}

#myCarousel .f-carousel__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-height: 950px) {
    #myCarousel {
        max-width: 320px;
        margin: 0 auto;
    }

    #myCarousel + .f-thumbs {
        max-width: 320px;
        margin: 0 auto;
        --f-thumb-width: 72px;
        --f-thumb-height: 54px;
    }

    #myCarousel .f-carousel__slide img {
        height: auto;
        width: 320px;
    }
}

/* */


a[data-fancybox="siteImagesViewer"] {
    justify-content: center;
    display: flex;
}

a[data-fancybox="siteImagesViewer"] img {
    max-width: 225px;
    object-fit: contain;
}

